/*
    Name: 
*/

:root{
    /* Color Theme from Adobe Color */
    --lt-gray: #F2F2F0;
    --mint: #CCD9BF;
    --sage: #8DA68A;
    --leaf: #425946;
    --forest: #2D4030;

    --lt-gray-rgba: rgb(242 242 240 / 20%);
    --mint-rgba: rgb(204 217 191 / 20%);
    --sage-rgba: rgb(141 166 138 / 20%);
    --leaf-rgba: rgb(66 89 70 / 20%);
    --forest-rgba: rgb(45 64 48 / 20%);

    /* Backgrounds/Text Colors/Neutrals */
    --med-gray: #555;
    --dk-gray: #222;
    --blk: #000;
    --wht: #FDFEFF;

    /* Font Stack */
    /* 
        regular weight: 400
        semi-bold: 600
        extra-bold: 800
    */
    --body-fonts: "mendl-sans-dusk", Georgia, sans-serif;
    --heading-fonts: "spirits-sharp", "Arial Black", sans-serif;

    /* Shadows */
    --box-shadow-sm: -3px 3px 6px var(--med-gray);
    --box-shadow-lg: -6px 6px 10px var(--med-gray);
}

/* Body Styles */
body{
    font-family: var(--body-fonts);
    color: var(--dk-gray);
    background-color: var(--sage-rgba);
    line-height: 1.35;
    font-size: 1.25rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%238DA68A' fill-opacity='0.2'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Header, Main, Footer */
header, main, footer{
    width: 100%;
    margin: 0 auto;
}

/* Header and Footer Only */
header, footer{
    max-width: 1248px;
    padding: 32px 16px;
    background-color: var(--wht);
}

/* Header Styles */
header{
    height: 600px;
    background-color: var(--wht);
    background-image: url("images/plants-on-table.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: right;
    background-size: contain;
    /* Styles were added here to arrange the content, I used flexbox */
    /* TO DO */
}

/* For All Headings */
h1, h2, h3, h4{
    font-weight: 800;
    color: var(--forest);
    font-family: var(--heading-fonts);
    letter-spacing: 1px;
}

/* h1 Headings */
h1{
    font-size: 7rem;
    width: 515px;
    margin: 0 0 0 10rem;
}

/* The Link in the h1 */
h1 a{
    text-decoration: none;
    color: var(--forest);
}

/* Link in the h1 on Hover/Focus */
h1 a:hover, h1 a:focus{
    text-decoration: underline;
    outline: none;
}

/* h2 Headings */
h2{
    color: var(--wht);
    text-align: center;
    font-size: 4rem;
    margin: 96px 0 0 0;
}

/* h3 Headings */
h3{
    text-align: center;
    font-size: 3.5rem;
    margin: 8px;
}

/* h4 Headings */
h4{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

/* Navigation */
nav{
    width: 600px;
    margin: 0 0 0 6rem;
    position: relative;
}

nav ul{
    list-style-type: none;
    padding: 0;
    /* Styles were added here to arrange the content, I used flexbox */
    /* TO DO */
}

nav a{
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-fonts);
    letter-spacing: 1px;
}

nav a svg{
    display: block;
    width: 200px;
    height: 200px;
    fill: var(--mint);
    position: relative;
    transform: rotate(320deg);
    transition: all 300ms;
    z-index: 0;
}

nav a span{
    display: block;
    position: relative;
    /* Styles were added here to arrange the content, I used top and z-index for this */
    /* TO DO */
}

nav a:focus{
    outline: none;
}

nav a:hover svg, nav a:focus svg{
    transform: scale(1.25) rotate(320deg);
}

/* Links */
a{
    color: var(--leaf);
}

/* Link Hover Styles */
a:hover{
    color: var(--forest);
    text-decoration: none;
}

/* Link Focus Styles */
a:focus{
    outline-color: var(--forest);
    outline-offset: 4px;
}

/* Main Styles */
main{
    background-color: var(--forest);
    max-width: 1280px;
    padding: 32px 0;
}

/* Paragraphs in the Main (Direct Descendants Only) */
main > p{
    color: var(--wht);
    margin-bottom: 96px;
    font-size: 1.5rem;
}

main > section{
    padding: 32px;
}

/* Text */
p{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 8px 0;
}

/* Plants Section */
#plants{
    background-color: var(--wht);
    padding: 96px 32px;
    /* Styles were added here to arrange the content, I used grid */
    /* TO DO */
}

#plants h3, #plants > p{
    /* Styles were added here to arrange the content, these are grid children styles */
    /* TO DO */
}

#plants section{
    /* Styles were added here to arrange the content, I used flexbox */
    /* TO DO */
    margin: 32px auto 0;
}

#plants h4{
    margin: 16px 0;
}

#plants img{
    /* Styles were added here to arrange the content, I used a property for a flexbox child to change the order that the content appears on the page */
    /* TO DO */
    width: 100%;
}

.price{
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    padding: 12px 0;
    background-color: var(--mint);
    color: var(--dk-gray);
    margin-top: 32px;
}

/* Contact Section */
#contact{
    color: var(--wht);
    padding: 64px 32px;
    /* Styles were added here to arrange the content, I used grid */
    /* TO DO */
}

/* Contact Heading and Paragraph */
#contact h3, #contact > p{
    /* Styles were added here to arrange the content, these are grid children styles */
    /* TO DO */
}

/* Contact text color */
#contact h3, #contact h4, #contact a, #contact label, #contact address{
    color: var(--wht);
}

/* Contact Links */
#contact a{
    display: block;
    padding: 4px 0;
}

#contact > div, #contact > section{
    margin-top: 32px;
}

#contact div h4, #contact div caption, #contact #social h4{
    margin-top: 48px;
}

#contact h4:first-of-type{
    margin-bottom: 8px;
    margin-top: 0;
}

/* Address */
address{
    width: fit-content;
    margin: 0 auto;
    font-style: normal;
}

/* Address Anchors On Hover */
address a:hover{
    text-decoration: none;
}

address a:focus{
    outline-offset: 2px;
}

/* Contact Table */
table{
    width: fit-content;
    border-collapse: collapse;
    margin: 0 auto;
}

/* Contact Caption */
caption{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    font-family: var(--heading-fonts);
    font-weight: 800;
    letter-spacing: 1px;
}

/* Other Table Styles */
th{
    font-size: 1.5rem;
    font-weight: 600;
}

th, td{
    border-bottom: 2px solid var(--wht);
    padding: 10px 4px 4px 4px;
}

th:nth-of-type(even), td:nth-of-type(even){
    padding-left: 24px;
}

/* Social Media Section */
#social{
    width: fit-content;
    margin: 32px auto;
    list-style-type: none;
    padding: 0;
}

/* Social Media List */
#social ul{
    /* Styles were added here to arrange the content, I used grid */
    /* TO DO */
    width: fit-content;
    margin: 16px auto;
    list-style-type: none;
    padding: 0;
}

/* Heading for Social Media Section */
#social h4{
    /* Styles were added here to arrange the content, these are grid children styles */
    /* TO DO */
}

#social a{
    display: block;
    padding: 8px 12px 0 12px;
}

/* Social Media Icons */
#social svg{
    stroke: var(--wht);
}

/* Social Media Icons on Hover */
#social a:hover svg{
    fill: var(--wht);
    stroke: var(--forest);

}

/* Social Media Icons on Focus */
#social a:focus{
    outline: 2px solid var(--mint);
    outline-offset: 2px;
}

/* Spans to Mark Required Form Inputs */
.required svg{
    display: inline-block;
    padding-left: 4px;
    stroke: var(--mint);
    width: 1.5rem;
    height: auto;
}

/* Form */
form{
    width: 400px;
    margin: 0 auto;
}

/* Form Labels/Widgets */
label, input, textarea{
    display: block;
    font-size: 1.25rem;
    width: calc(100% - 10px);
}

/* Labels */
label{
    margin: 12px 0 8px 0;
    font-size: 1.5rem;
}

input, textarea{
    border: none;
    background: var(--mint);
    padding: 0 4px;
    height: 3rem;
    color: var(--dk-gray);
    margin-bottom: 24px;
    font-family: var(--body-fonts);
}

textarea{
    height: 8rem;
    padding: 8px 4px;
}

input:focus, input:focus-visible, textarea:focus, textarea:focus-visible{
    outline: 2px solid var(--wht);
    outline-offset: 2px;
    background-color: var(--forest);
    color: var(--wht);
}

#feedback{
    margin: 48px auto 32px;
    width: 100%;
    height: auto;
    padding: 16px 0;
    font-size: 1.75rem;
    font-family: var(--body-fonts);
    font-weight: 600;
    border: 4px solid var(--mint);
}

#feedback:hover, #feedback:focus{
    background-color: var(--forest);
    color: var(--wht);
    outline: none;
}

/* Plant-Row Div */
#plant-row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 420px;
    background-image: url("images/plants-in-row.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
}

/* Back to Top of Page Link */
#btt{
    display: block;
    line-height: 0;
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    left: calc(100vw - 100px);
    background-color: var(--forest);
    border: 2px solid var(--wht);
}

#btt svg{
    stroke: var(--wht);
    transition: all 300ms;
}

#btt:hover{
    border-width: 4px;
    padding: 14px;
}

#btt:hover svg, #btt:focus svg{
    transform: scale(1.5);
}

#btt:focus{
    outline: 4px solid var(--leaf);
    outline-offset: 4px;
}

/* Footer */
footer{
    text-align: center;
}